.c-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.form__input,
.form__select {
  width: 50vw;
  margin: 10px 0;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  outline: none;
}
.form__input {
  width: 48.7vw;
}
@media (max-width: 767px) {
  .form__select {
    width: 80vw;
  }
  .form__input {
    width: 75vw;
  }
}
