.c-paginated {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.paginated__button {
  background-color: #bfde42;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}
.paginated__button:hover {
  background-color: #414c17;
}
.paginated__button:hover .paginated__button-image {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.paginated__button-image {
  width: 35px;
  height: auto;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}
.paginated__page {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  margin: 0 40px;
}
