.c-advanced-search {
  position: relative;
  text-align: left;
  background-color: #D2C9B7;
  align-items: center;
  padding: 20px 10%;
}
@media (max-width: 980px) {
  .c-advanced-search{
    padding: 20px 5%;
  }
}
.advanced-search__text {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  
}

@media (max-width: 620px) {
  .advanced-search__text {
    font-size: 40px;
    line-height: 1.2em;
  }
}
