.c-footer {
  display: flex;
  justify-content: center;
  background-color: #333535;
  position: relative;
  height: 150px;
}
.footer__content {
  text-align: center;
  align-self: center;
}
.box__image {
  position: absolute;
  width: 150px;
  left: 0;
  bottom: 20px;
}
.image__footer {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 550px) {
  .c-footer {
    height: 100px;  
  }
  .box__image {
    display: none;
  }
  
}
